@using GS.Recruitment.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-10 margin-bottom">
                <h2 class="heading">@ViewBag.Title</h2>

                <div class="row">
                    <div class="col-md-8">
                        @Html.Partial("Account/_Login");
                    </div>
                    <div class="col-md-4">
                        <section id="socialLoginForm"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
