<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Unique life experience</div>
            <div class="intro-heading">Your own private room</div>
            <div class="intro-bottom">Friendly and comfortable place to stay</div>
            <a href="#booking" class="page-scroll btn btn-xl">opening on 17th July...</a>
            @*<a href="#booking" class="page-scroll btn btn-xl">Book now</a>*@
        </div>
    </div>
</header>